<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="display">
        {% autoescape off %}
          {{ subtree }}
        {% endautoescape %}
        {% autoescape off %}
          {{ css }}
        {% endautoescape %}
    </div>
</body>
<script>
    function Queue(){
        var nodes = [];
        const maxLength = 100;
        var front=0, tail = 0;
        function push(node){
            nodes[tail] = node;
            tail++;
            if(tail >= maxLength) tail = tail % maxLength;
        }
        function pop() {
            let top = nodes[front];
            front++;
            if(front >= maxLength) front = front % maxLength;
            return top;
        }
        function printNodes() {
            for(let i = front;i<tail;i++){
                console.log(nodes[i], ' ')
            }
        }
        function isEmpty() {
            return front === tail;
        }
    return {push, pop, printNodes, isEmpty};
}
</script>
<script>
    let display = document.getElementById('display')
    display.innerHTML = {% autoescape off %}{{ subtree }}{% endautoescape %}
    let css = {% autoescape off %}{{ css }}{% endautoescape %};
    console.log (css);
    let cur = 0;
    let q = Queue();
    q.push(display);
    while(!q.isEmpty()) {
        let parent = q.pop();
        let children = parent.childNodes;
        for (let i = 0; i < children.length; i++) {
            let child = children[i];
            if (child instanceof Element && child.tagName !== "SCRIPT" && child.tagName !== "STYLE") {
                q.push(children[i]);
                let styles = css[cur++];
                for (let i = 0; i < styles.length; i++) {
                    let property = styles[i]['property'];
                    child.style[property] = styles[i]['value'];
                }
            }
        }
    }

</script>
</html>